
body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    background-color: #d37b00;
}
::selection {
    background-color: rgba(0,0,0,0);
    color: #98f55b;
}
.heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
h2 {
    margin: 0;
}
.landing {
    height: 100%;
    display: flex;
    align-items: center;
}
.landing:after {
    content: '';
    display: block;
    background-color: #3d3d3d;
    height: 70vh;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
}
.lcontainer {
    transform-style: preserve-3d;
    width: 60vw;
    height: 80vh;
    box-shadow:2px 2px 1px 4px rgba(0,0,0,0.3), 4px 4px 1px 8px rgba(0,0,0,0.2), 6px 6px 1px 12px rgba(0,0,0,0.1);
    margin: auto;
    background: #8A8E71;
    text-align: center;
    position: relative;
    transition: background 0.5s ease;
    border-style: solid;
    border-width: 4px;
    border-top-color: rgba(0,0,0,0.1);
    border-left-color: rgba(0,0,0,0.1);
    border-right-color: rgba(0,0,0,0.3);
    border-bottom-color: rgba(0,0,0,0.3);
}
@media (max-width: 1640px) {
    .lcontainer {
        width: 80vw;
    }
    .lmenu {
        margin: 0 20px 0 80px;
    }
}
.green {
    background-color: #718E83;
}
.red {
    background-color: #8E717C;
}
.blue {
    background-color: #75718E;
}
.flex-center {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.lmenu {
    width: 100%;
    padding: 20px;
    margin: 0 20px 0 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    transform: scale(1.2);
    transition: all 0.3s ease-out;
}
@media (max-width: 1280px) {
    .lcontainer {
        width: 85vw;
    }

    .lmenu {
        transform: scale(1.1);
        width: 100%;
        margin: 0 80px 0 100px;
    }
    .lmenu div {
        padding: 45px !important;
    }
}
.lmenu div {
    width: auto;
    padding: 60px;
    flex: 1 0 auto;
    margin: 0 10px;
}
.lmenu div a.link {
    font-size: 50px;
    text-decoration: none;
    padding: 20px;
    color: rgba(0,0,0,0.8);
    font-weight: 300;
    transition: all 0.5s ease;
}

.link:hover {
    letter-spacing: 2px;
}

#f:hover {
    color: #E9967A;
}
#s:hover {
    color: #F0F8FF;
}
#t:hover {
    color: #90EE90;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
}

.bottom a {
    color: rgba(0,0,0,0.4);
    text-decoration: none;
    transition: all 0.4s ease;
}
.bottom a:hover {
    color: rgba(0,0,0,0.8);
    letter-spacing: 2px;
}

@media (max-width: 1080px) {
    .lmenu {
        flex-direction: column;
        transform-origin: 50% !important;
        margin: 0;
        padding: 0;
    }
    .lmenu > div {
        padding: 60px 0;
        position: relative;
    }
    #s:after, #s:before {
        content: '';
        display: block;
        position: absolute;
        height: 1px;
        width: 400px;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: rgba(0,0,0,0.4);
    }
    #s:after {
        bottom: 0;
    }
    #s:before {
        top: 0;
    }
}

.page-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10003;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.loadbg {
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms;
    opacity: 0;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100vw;
    background-color: #3d3d3d;
}




/* Bouncing heading at the top */
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

.stack {

  text-transform: uppercase;
  font-size: 50px;
  line-height: 0.7em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: #FFF;
  padding: 5px 0;
  user-select: none;
}

span {
    position: relative;
    text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px !important;
}


.char1 {
  margin-left: -.08em;
  z-index: 4;
  text-shadow: 0.05em 0.05em 0.2em rgba(10,10,10,0.9);
}

.char2 {
 z-index: 3; 
 margin-left: -.08em;
  top: 0.08em !important;
    text-shadow: -0.02em 0.02em 0.2em rgba(10,10,10,0.9);

}

.char3 {
  z-index: 9;
  margin-left: -.07em;
  text-shadow: -0.05em 0.05em 0.2em rgba(10,10,10,0.9);
  
}

.char4 {
  z-index: 5;
  margin-left: -.06em;
  text-shadow: 0.02em -0.02em 0.2em rgba(10,10,10,0.9);
  top: 0.02em !important;
}

.char5 {
  z-index: 2;
  margin-left: -.105em;
  top: 0.08em !important;
  text-shadow: -0.05em 0.05em 0.2em rgba(10,10,10,0.9);
}

.char6 {
  z-index: 10;
    margin-left: -.035em;
  top: -0.04em !important;
  text-shadow: 0em 0em 0.2em rgba(10,10,10,0.9);
  
}

.char7 {
  z-index: 8;
  margin-left: -.045em;
  top: 0em !important;
  text-shadow: -0.05em 0.05em 0.2em rgba(10,10,10,0.9);
  
}

.char8 {
  z-index: 6;
  margin-left: -.05em;
  top: -0.05em !important;
  text-shadow: 0.02em -0.01em 0.2em rgba(10,10,10,0.9);
}

.char9 {
  z-index: 7;
      margin-left: -.025em;
  top: 0em;
  text-shadow: 0.03em -0.03em 0.2em rgba(10,10,10,0.8);
}

